#topo{
    background-color: blue;
}

#conteudo{
    background-color: red;
}

.produto{
    background-color: grey;
    margin: 10px;
}

#rodape{
    background-color: green;
}

.azul{
    color: blue;
}