p{
    color: blueviolet;
}

h1{
    color: aquamarine;
}

.violeta{
    color: aqua;
}

#cabecalho{
    background-color: blue;
}

.Coluna{
    background-color: aliceblue;
}

#fundo{
    background-color: black;
}